@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Courier New', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header header" "aside main" "footer footer";
}

header {
    grid-area: header;
    background: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

h2 {
    font-variant: small-caps;
}

nav {
    margin-left: auto;
    margin-right: 1.4em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    gap: 2em;
}
a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(.74,.01,.28,.99);
}

a:hover {
    color: coral;
}

aside {
    grid-area: aside;
    background: #8e8e8e;
}

main {
    grid-area: main;
    background-color: #c7c7c7;
}

footer {
    grid-area: footer;
    background-color: #4c4c4c;
}