body {
    color: #26ff00;
    background-color: #6b6b6b;
    font-family: Arial;
    margin: 0;
    padding: 0%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bolder;
}

nav {
    width: 100%;
    height: 2em;
    min-height: 5px;
    margin: 0;
    padding: 0;
    background: #acacac;
}

ul {
    height: 100%;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: unset;

    align-items: center;
    justify-content:flex-start;
    list-style: none;
}

li {
    padding: 0 2em;
    flex: none;
    color: teal;
}

.text-link{
    color: blue;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 200ms ease-in;
}
a:hover {
    color: wheat;
}

main {
    width: calc(100% - 4em);
    padding: 2em;
}