<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log-In</title>

</head>

<body>
	<main>
		<div class="card center">
			<form action="/login/auth" method="post">
				<ul>
					<li>
						<label for="username">Benutzername:</label>
						<input type="text" name="username" id="username" placeholder="Benutzername">
					</li>
					<li>
						<label for="password">Passwort:</label>
						<input type="password" name="password" id="password" placeholder="Passwort">
					</li>
					<li>
						<button type="reset">Eingabe löschen</button>
						<button type="submit">Anmelden</button>
					</li>
				</ul>

			</form>
		</div>
	</main>
</body>

</html>