<!DOCTYPE html>

<html lang="de" dir="ltr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>
		Hausaufgabenverwaltung
	</title>
</head>

<body>
	<h1> Willkommen bei der Hausaufgabenverwaltung! </h1>
	<nav>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Registrieren</a></li>
			<li><a href="/faecher">Fächer</a></li>
		</ul>
	</nav>
	<main>
		<h1>Willkommen zur Hausaufgabenverwaltung.</h1>
		<p>Melden sie sich <a class="text-link" href="/login">hier</a> an, um auf das Program zugreifen zu können.</p>
	</main>
</body>

</html>