<!DOCTYPE html>

<html lang="de" dir="ltr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>
		Hausaufgabenverwaltung
	</title>
	<script>

		window.addEventListener('load', (ev) => {
			let xhr = new XMLHttpRequest();
			xhr.open('post', "/login");
			xhr.responseType = "json";
			xhr.onload = (ev) => {
				console.log(ev.target);
			}
			let formData = new FormData();
			formData.append("test", "test");
			console.debug(formData);
			debugger;
			xhr.send(formData);
		});
	</script>
</head>

<body>
	<h1> Willkommen bei der Hausaufgabenverwaltung! </h1>
	<nav>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Registrieren</a></li>
			<li><a href="/faecher">Fächer</a></li>
		</ul>
	</nav>
	<main>
		<h2>Hallo, {{name}}</h2>
	</main>
</body>

</html>